* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: #f5f6fa;
  margin: 0;
  padding: 0;
  color: #2f3640;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  
}

.markdown {
  display: flex;
  width: 90%;
  max-width: 1000px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  overflow: hidden;
  
}

textarea.input {
  width: 50%;
  padding: 1rem;
  border: none;
  border-right: 1px solid #dcdde1;
  font-size: 1rem;
  resize: none;
  outline: none;
  height: 500px;
}

.result {
  width: 50%;
  padding: 1rem;
  overflow-y: auto;
  border: 1px solid #ccc;
  height: 80vh;
}

.result h1, .result h2, .result h3 {
  border-bottom: 1px solid #dcdde1;
  padding-bottom: 0.3rem;
}
